.popup{
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 1;
    font-size: 20px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    -webkit-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    -moz-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
}

.topic-popup{
    padding: 5px;
}

.music{
    display: none;
    transition: all 1s ease;
}

.music-bg{
    width: 290px;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.3);
}

.back-to-top{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 3;
    bottom: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.3);
    margin-right: 30px;
    margin-bottom: 3px;
    cursor: pointer;
}

.back-to-top:hover{
    background-color: #000;
}

.back-to-top:hover i {
    color: #fff;
}

.back-to-top i{
    font-size: 30px;
}

@media only screen and (max-width: 850px){
    .back-to-top{
        margin: 0;
        top: 0;
        left: 0;
        margin: 3px;
    }
}