@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: all .5s ease;
    font-family: 'Montserrat', sans-serif;
}

.container-member{
    background-color: #E6D1CF;
    padding-bottom: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right{
    color: #616575;
    font-weight: 800;
    margin: 0 40px;
}

.member-style-1{
    background-color: #616575;
    display: grid;
    grid-template-columns: 449px 1fr;
    margin: 20px 40px;
    padding: 0 60px;
    padding-top: 40px;
    padding-bottom: 16px;
    border-radius: 30px;
    -webkit-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    -moz-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
}

.member-style-1-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 0;
}

.member-style-1-img-1{
    width: 250px;
    height: 374px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 24px;
}

.member-style-2-1-img{
    width: 175px;
    height:  175px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.member-style-1-img-1:hover{
    transform: scale(1.1);
}

.member-style-2-1-img:hover{
    transform: scale(1.1);
}

.member-information{
    z-index: 1;
}

.member-information .member-name{
    font-size: 50px;
    margin-left: -50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.member-information .member-name:hover{
    margin-top: 0px;
    font-size: 60px;
    margin-left: -60px;
    text-shadow: 2px 2px #000;
    margin-bottom: -20px;
}

.member-information .member-name2{
    font-size: 20px;
    margin-left: 200px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #A5AAAB;
    cursor: pointer;
    font-weight: 800;
}

.member-information .member-name2:hover{
    margin-top: -10px;
    text-shadow: 2px 2px #000;
}

.member-info{
    margin-left: 150px;
    margin-top: 30px;
    color: #A5AAAB;
    text-align: justify;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
}

.member-info:hover{
    text-shadow: 1px 1px #000;
}

.member-contact{
    margin-left: 150px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 600px; */
}

.contact i{
    font-size: 25px;
}

.contact{
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.contact:hover{
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px #fff;
    margin: 0 10px 10px 0;
}

.member-style-2{
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 1fr 450px;
    margin: 20px 40px;
    padding: 0 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    -webkit-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    -moz-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
}

.member-style-2-text{
    order: 1;
    z-index: 1;
}

.member-style-2-img{
    order: 2;
    z-index: 0;
}

.member2-img-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
}

.member2-img-1{
    width: 450px;
    height: 187px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.member2-img-2-1{
    width: 213px;
    height: 187px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.member2-img-1:hover{
    transform: scale(1.1);
}

.member2-img-2-1:hover{
    transform: scale(1.1);
}

.member-name2-1{
    text-align: right;
    font-size: 50px;
    margin-right: -40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.member2-information:hover{
    text-shadow: 1px 1px #000;
}

.member-name2-2{
    font-size: 20px;
    color: #616575;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: 800;
    margin-right: 50px;
    cursor: pointer;
}

.member2-information{
    margin: 0 40px;
    margin-top: 60px;
    text-align: justify;
    color: #616575;
    cursor: pointer;
}

.member-name2-2:hover{
    margin-top: -10px;
    text-shadow: 2px 2px #000;
}

.member-contact2{
    margin-left: 150px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact2 i{
    font-size: 25px;
    cursor: pointer;
}

.contact2{
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.contact2:hover{
    font-size: 20px;
    color: #616575;
    text-shadow: 1px 1px #000;
    margin: 0 10px 10px 0;
}

.member-name2-1:hover{
    margin-top: 0px;
    font-size: 60px;
    margin-left: -60px;
    text-shadow: 2px 2px #000;
    margin-bottom: -20px;
}

@media only screen and (max-width: 1300px){
    .member-style-1{
        grid-template-columns: 384px 1fr;
    }

    .member-style-1-img-1{
        width: 200px;
    }
    
    .member-style-2-1-img{
        width: 160px;
    }

    .member-info{
        margin-left: 80px;
    }

    .member-contact{
        margin-left: 80px;
    }   
 
    .member-style-2{
        grid-template-columns: 1fr 385px; 
    }

    .member2-img-1{
        width: 385px;
    }

    .member2-img-2-1{
        width: 180.5px;
    }

    .member2-information{
        margin-left: 20px;
    }

    .member-contact2{
        margin-left: 40px;
    }
}

@media only screen and (max-width: 1200px){
    .contact i{
        font-size: 22px;
    }

    .contact{
        font-size: 16px;
    }

    .contact2 i{
        font-size: 22px;
    }

    .contact2{
        font-size: 16px;
    }

    .member2-information{
        margin-left: 10px;
    }

    .member-contact2{
        margin-left: 20px;
    }

    .member-info{
        margin-left: 40px;

    }
    .member-contact{
        margin-left: 40px;
    } 
}

@media only screen and (max-width: 1100px){
    .member-style-1{
        margin: 20px 0px;
        margin-bottom: 0;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 16px;
        border-radius: 0;
    }

    .member-style-2{
        margin: 20px 0px;
        margin-bottom: 0;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 16px;
        border-radius: 0;
    }

    .member2-information{
        margin-top: 40px;
    }

    .member-contact2{
        margin-top: 30px;
    }

}

@media only screen and (max-width: 920px){
    .member-style-1{
        margin: 0px;
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        grid-template-columns: 360px 1fr;
    }

    .member-style-1-img-1{
        margin-right: 0;
    }
    
    .member-style-2-1-img{
        margin-bottom: 0;
    }
 
    .member-style-1-img-1{
        height: 350px;
    }

    .contact:hover{
        font-size: 18px;
        margin: 0;
    }

    .member-info{
        margin: 20px 15px;

    }

    .member-contact{
        margin: 20px 15px;
    } 

    .member-information .member-name2:hover{
        margin-top: -0px;
    }

    .member-style-2{
        margin: 0px;
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        grid-template-columns: 1fr 360px;
    }

    .member2-img-1{
        width: 360px;
    }

    .member2-img-2{
        margin-top: 0;
    }

    .member2-img-2{
        gap: 0;
    }

    .member2-information{
        margin: 30px 10px;
    }

    .member-contact2{
        margin: 0;
        margin-left: 50px;
    }

}

@media only screen and (max-width: 850px){
    .member-style-1{
        grid-template-columns:1fr;
    }

    .member-style-1-img-1{
        width: 40vw;
    }
    
    .member-style-2-1-img{
        width: 40vw;
    }

    .member-information .member-name{
        margin-left: 0;
        margin-top: -38px;
    }

    .member-style-1-img .member-style-2-img{
        display: none;
    }

    .member-style-1-img-1{
        width: 100%;
        height: 300px;
        background-position: center;
    }

    .member-style-1-img{
        grid-template-columns: 1fr;
    }

    .member-contact{
        grid-template-columns: 1fr;
    }

    .contact{
        margin-top: 13px;
    }

    .member-information .member-name2{
        /* float: right; */
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .member-style-1-img-1:hover{
        transform: scale(1);
    }
    
    .member-style-2-1-img:hover{
        transform: scale(1);
    }

    .member-information .member-name:hover{
        margin: 0;
        margin-top: -38px;
    }

    .contact:hover{
        font-size: 16px;
        margin-top: 13px;
    }
    
    .member-style-2{
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .member-contact2{
        grid-template-columns: 1fr;
    }

    .member2-img-2{
        display: none;
    }

    .member2-img-1{
        display: block;
        width: 100vw;
        height: 300px;
    }

    .member-style-2-img{
        order: 1;
    }

    .member2-img-1:hover{
        transform: scale(1);
    }
    
    .member2-img-2-1:hover{
        transform: scale(1);
    }

    .member-name2-1{
        margin: 0;
        margin-right: 45px;
        margin-top: -40px;
    }

    .member-name2-2{
        margin-right: 80px;
    }

    .member-contact2{
        margin-left: 15px;
    }

    .contact2{
        margin-top: 13px;
        margin-left: 0;
    }

    .contact2:hover{
        font-size: 16px;
        margin-top: 13px;
    }
}
