@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: all .5s ease;
    font-family: 'Montserrat', sans-serif;
}

.container-member{
    background-color: #E6D1CF;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right{
    color: #616575;
    font-weight: 800;
    margin: 0 40px;
}

.member-style-1{
    background-color: #616575;
    display: grid;
    grid-template-columns: 449px 1fr;
    margin: 20px 40px;
    padding: 0 60px;
    padding-top: 40px;
    padding-bottom: 16px;
    border-radius: 30px;
    -webkit-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    -moz-box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
    box-shadow: 9px 0px 18px -3px rgba(0,0,0,0.20);
}

.member-style-1-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.member-style-1-img-1{
    width: 250px;
    height: 374px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 24px;
}

.member-style-2-1-img{
    width: 175px;
    height:  175px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.member-style-1-img-1:hover{
    transform: scale(1.2);
}

.member-style-2-1-img:hover{
    transform: scale(1.2);
}

.member-information .member-name{
    font-size: 50px;
    margin-left: -50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.member-information .member-name:hover{
    margin-top: 0px;
    font-size: 60px;
    margin-left: -60px;
    text-shadow: 2px 2px #000;
    margin-bottom: -20px;
}

.member-information .member-name2{
    font-size: 20px;
    margin-left: 200px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #A5AAAB;
    cursor: pointer;
}

.member-information .member-name2:hover{
    margin-top: -10px;
    text-shadow: 2px 2px #000;
}